<div class="container">
  <h1>Welcome!</h1>
  <p>Create an account!</p>
<div>
 <form id="login" action="/register" method="post">

 <label for="username">Username:</label>
  <input type="text" name="user[username]"><br>
  <br>
  <label for="email">Email:</label>
  <input type="text" name="user[email]"></br>
  <br>
  <label for="password">Password:</label>
  <input type="password" name="user[password-hash]"></br>
  <br>

  <input type="submit" style="color: teal;"value="Submit">
</div>
